*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.tasks{
    border: 2px solid gray;
    padding: 4px;
}

.task{
    display: flex;
    padding: 20px;
    border: 2px solid pink;
    margin-top: 2rem;
    justify-content: space-around;
    gap: 20px;
    width: 500px;
    background-color: white;
    
}

.todo-checkbox:checked ~ .para{
    text-decoration: line-through;
    color: gray;
}